<div class="about-experience-container">
  <div class="about">
    <h2>Sobre Mim</h2>
    <div class="content-container">
      <div class="photo-container">
        <img src="./../../assets/img/IMG_9767-2.jpg" alt="Foto de Lucas Anunciato">
      </div>
      <div class="text-container">
        <p>
          Sou Lucas Anunciato, um desenvolvedor full-stack especializado em Angular e Laravel. Tenho experiência em criar soluções web modernas e escaláveis, com foco em eficiência e boas práticas de desenvolvimento. Com 5 anos de experiência em desenvolvimento e suporte de sistemas, tenho sido fundamental na criação de novas funcionalidades e na correção de bugs e problemas em sistemas existentes. Meu papel também se estende ao suporte, onde assegurei consistentemente uma taxa de resolução de 100% para chamados dentro do Acordo de Nível de Serviço (SLA) em todas as situações em que estive envolvido.
          <br><br>
          Além disso, possuo habilidades em design gráfico, sendo proficiente em ferramentas como Photoshop e Illustrator para a criação de logotipos, banners e campanhas. Confira alguns dos meus projetos e designs abaixo.
        </p>
        
        <div class="button-group">
          <button class="design-button" routerLink="/designs">Veja Meus Designs</button>
          <button class="projects-button" routerLink="/projects">Veja Meus Projetos</button>
        </div>
      </div>
    </div>
  </div>

  <div class="experience-container">
    <h2>Experiências</h2>
    <div class="experience-card" (mouseenter)="playSound()">
      <strong>Fullstack Developer</strong> | MultFacil
      <br>10/2022 - 11/2023
      <div class="logo-container">
        <img src="./../../assets/img/angular.svg" alt="Angular Logo">
        <img src="./../../assets/img/laravel.svg" alt="Laravel Logo">
        <img src="./../../assets/img/mariadb.svg" alt="MariaDB Logo">
      </div>
      <p class="experience-content">Responsável por desenvolver novas funcionalidades para sistemas de controle de acesso e documentos, incluindo a implementação de sistemas gerais de gestão escolar, integrando com a API do Google Maps para roteamento e transporte, além de gestão de pessoal e CRM.</p>
    </div>
    <div class="experience-card" (mouseenter)="playSound()">
      <strong>Fullstack Developer</strong> | Sety Segurança e Tec
      <br>12/2021 - 08/2022
      <div class="logo-container">
        <img src="./../../assets/img/laravel.svg" alt="Laravel Logo">
        <img src="./../../assets/img/bootstrap.svg" alt="Bootstrap Logo">
        <img src="./../../assets/img/mariadb.svg" alt="MariaDB Logo">
      </div>
      <p class="experience-content">Responsável pela manutenção e desenvolvimento de novas funcionalidades, contribuindo para a criação de um sistema de plano anual e um sistema de ranking de fidelidade de usuários.</p>
    </div>
    <div class="experience-card">
      <strong>Fullstack Developer</strong> | C-tap
      <br>11/2020 - 11/2021
      <div class="logo-container" (mouseenter)="playSound()">
        <img src="./../../assets/img/dotnet.svg" alt=".NET Logo">
        <img src="./../../assets/img/angular.svg" alt="Angular Logo">
        <img src="./../../assets/img/serverfault.svg" alt="SQL Server Logo">
      </div>
      <p class="experience-content">Desenvolvi e implementei um sistema virtualizando as operações da empresa, desde o cadastro de clientes até o controle de documentos, com geração de documentos em PDF.</p>
    </div>
    <div class="experience-card">
      <strong>Systems Analyst</strong> | Softwillians
      <br>05/2019 - 11/2019
      <div class="logo-container" (mouseenter)="playSound()">
        <img src="./../../assets/img/dotnet.svg" alt="ASP.NET Logo">
        <img src="./../../assets/img/angular.svg" alt="Angular Logo">
        <img src="./../../assets/img/serverfault.svg" alt="SQL Server Logo">
      </div>
      <p class="experience-content">Como Analista, minhas responsabilidades incluíam receber chamadas e solicitações, resolver erros dentro de um SLA de 24 horas, trabalhando em vários sistemas utilizando diversas linguagens e tecnologias.</p>
    </div>
  </div>
</div>
