/* navbar.component.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #000; /* Fundo preto */
    font-family: Consolas, monospace;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo a {
    color: #ff0000; /* Vermelho para o nome/logo */
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 25px;
  }
  
  .nav-links a {
    color: #fff; /* Branco para os links */
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ff0000; /* Vermelho ao passar o mouse */
  }
  